[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faiss-cpu = "*"
sentence-transformers = "*"
transformers = "*"
python-dotenv = "*"
memory-profiler = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
